.child{
        background-color:#5E7899;
        margin-top: 30px;
        width: 300px;
        padding: 70px;
        border: 20px solid black;
}

body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}