body{
        background-image: url(background.png);
        background-position:center;
        margin: 0%;
}
.main{
        width:340px;
        height: 550px;
        background-color: white;
        margin:auto;
}

h1{
        text-align: center;
        font-family: sans-serif;
}

form{
        width:300px;
        height: 430px;
        margin-left: 20px;
        margin-right: 20px;
        border-top:1px solid #d8d8d8;
        border-bottom:1px solid #d8d8d8;
}

form label{
        display: flex;
        margin-top: 18px;
        font-size: 16px;
        font-weight: bold;
        font-family:sans-serif;
}

.inp{
        width: 280px;
        padding:7px;
        background-color: #F1F1F1;
        border:1px solid  #F1F1F1;
        border-radius: 12px;
        
}

input[type="button"]{
       margin-top: 12px;
       width:300px;
       padding:7px;
       background-color: #373B3E;
       color: #F1F1F1;
       margin-left: 20px;
}


